{% extends "layout.html" %}

{% block content %}
    <div class="section-content">
        <h4>Table of Contents:</h4>
        <ul>
            <li class="first-level-item"><a href="/heap.html">Heap</a></li>
            <ul>
                <li class="second-level-item"><a href="/lessons/heap">What is a heap</a></li>
                <li class="second-level-item"><a href="/lessons/heap#max-heap-definition">The max-heap property</a></li>
                <li class="second-level-item"><a href="/lessons/heap#min-heap-definition">The min-heap property</a></li>
                <li class="second-level-item">
                    <a href="/heap.html#sorting">Heap Sort</a>
                </li>
            </ul>
        </ul>
    </div>
{% endblock %}