{% extends "layout.html" %}

{% block content %}
    <div class="section-content">
        <h4>Heap</h4>
        <p></p>
        <div id="heap-definition">
            <h5>What is a heap?</h5>
            <p>Heap or binary heap is an array which can be represented as a binary tree where
            each node in the tree corresponds to an element in the array. The binary heap tree is filled
                up from left to right. The first element in the array is the root in the binary tree and the left
                child corresponds to <i>2 * i +1</i> and the right child corresponds to <i>2 * i + 2.</i>
                Where <i>i</i> corresponds to the element index in the array.
            </p>
            <p>For example: 16 is the root, 11 is left child of 16 and 9 is the right child. Similarly 11 is parent of 6 and 7.</p>
            <pre>
                [16,11,9,6,7]
            </pre>
            <p>There are two types of binary heaps: max-heap and min-heap</p>
        </div>

        <div id="max-heap-definition">
            <h5>The max heap</h5>
        </div>

        <div id="min-heap-definition">
            <h5>The min heap</h5>
        </div>
    </div>
{% endblock %}
