<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Subscription</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class='flashes'>
                {% for category, text in messages %}
                  <li class="message {{ category }}">{{ text }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>
